<div class="tab-pane active" id="panel-453158" ng-controller="smallCrtl">
	<div class="col-lg-6" style="margin:10px 0;">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchName" placeholder="搜索一下">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="clearVal()">
					清空
					</button>
			</span>
		</div>
		<!-- /input-group -->
	</div>
	<div class="col-md-12" ng-repeat="detail in details|filter:searchName">
		<div class="thumbnail">
			<img ng-src="{{detail.img}}" />
			<div class="caption">
				<p>
					{{detail.title}}
				<p>
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#"> <span class="badge pull-right">42</span>点赞</a>
					</li>
					<li>
						<a href="#"> <span class="badge pull-right">16</span>评论</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary" style="margin-right:5%;margin-bottom: 10px;float:right;" ng-click="loadMore()"> 
		加载更多>>
	</button>
</div>